<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="tarjeta">
    <h2 style="font-size:16px;"> Curriculum de {{nombre}} {{apellidos}} </h2>

    <div [ngClass]="{gris:colores==1,azul:colores==2,rojo:colores==3}">
      <div class="avatar">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" width="300px">
        <div class="contenedor">
          <h4>Nombre:</h4> <h5>{{nombre}}</h5>
          <h4>Apellidos:</h4><h5>{{apellidos}}</h5>
          <h4>Puesto de trabajo:</h4><h5>{{puesto}}</h5>
          <h4>Fecha de nacimiento:</h4><h5>{{fecha|date:'d/MM/y'}}</h5>
          <div [ngSwitch]="carnet">
            <h4><p *ngSwitch="0">Carnet:Si</p></h4>
            <h4><p *ngSwitch="1">Carnet:No</p></h4>
            <h4><p *ngSwitch="2">Carnet:En proceso</p></h4>
          </div>
          <div *ngIf="carnet>0">
            <hr>
            <h5>Nota: Disponibilidad de otro medio de transporte</h5>
          </div>
          <div *ngIf="carnet==0">
            <hr>
            <h5>Nota: Carnet y vehículo propio</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="form">
      <br>
      Nombre:<input type="text" name="" id="nombre" (keyup)="inputs($event);"><br><br><br>
      Apellidos:<input type="text" name="" id="apellidos" (keyup)="inputs($event);"><br><br><br>
      Puesto de trabajo: <input type="text" name="" id="puesto" (keyup)="inputs($event);"><br><br><br>
      Fecha de nacimiento: <input type="date" name="" id="fecha" (keyup)="inputs($event);"><br><br><br>

      Color: <select class="" name="" (change)="fondo($event);">
        <option value="1">Gris</option>
        <option value="2">Azul</option>
        <option value="3">Rojo</option>
      </select>
      <br><br><br>
      ¿Tienes carnet?: <select class="" name="" (change)="conducir($event);"><br><br><br>
        <option value=0>Si</option>
        <option value=1>No</option>
        <option value=2>En proceso</option>
      </select>
    </div>



  </body>
</html>
